.education {
    display: flex;
    flex-direction: column;

}

.education .conquest {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 0rem;

}

.education .conquest ul {
    display: flex;
    flex-direction: row;
    align-items: center;


}

.education .title {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    margin: 0;
    margin-top: 1rem;
    margin-bottom: 2rem;

}

.education ul {
    list-style: none;
    margin-top: 1rem;

}

.education ul li img {
    max-width: 80px;
    margin: .5rem;
}

.education .curso {
    display: flex;
    flex-direction: column;

}

.education .curso .title {
    margin-top: 2rem;
    margin-bottom: 0rem;
}

.education .curso p {

    margin-bottom: 0rem;
    margin-top: -1rem;


}